@{
    Layout = "_Layout";
    ViewBag.Title = "磁力云 - DHT磁力链接搜索引擎";
    ViewBag.KeyWord = "磁力链接,磁力搜索,BT搜索,BT种子,BT种子搜索,种子搜索,高清BT,迅雷BT搜索,高清BT种子,bt种子搜索器";
    ViewBag.Description = "磁力云是一个DHT磁力链接搜索引擎，专注于提供磁力链接和BT种子文件搜索服务,你可以在这里搜索电影、美剧、综艺、软件、动漫、教程、游戏等BT资源和磁力链接。";
}
@section Header{
    <link rel="stylesheet" href="~/css/reset.css?v=1.0.0">
    <link rel="stylesheet" href="~/css/grumble.css?v=1.0.0">
}
<div class="index-search clearfix">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-10 col-md-offset-1">
                <div class="page-header">
                    <a href="/"><h1 class="main-logo hidden-xs"><img src="/images/mainlogo.png" alt="磁力云" title="磁力云 - DHT磁力链接搜索引擎" /></h1></a>
                    <span class="visible-xs"><h2>磁力云</h2>专业的磁力链接搜索引擎</span>
                </div>

                <div class="search-box index-search-box">
                    <form id="search_form" class="search_form" role="form" method="get" action="~/list" name="search">
                        <div class="input-group">
                            <input type="text" class="form-control sinput search new-input" name="kw" id="search" placeholder="从 @ViewBag.TorrentNum 个磁力链接资源中搜索">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">搜 索</button>
                            </span>
                        </div>
                    </form>
                </div>
                @{
                    var wordList = (IList<HomeWord>)ViewBag.HomeWord;
                }
                <div class="tabs col-md-12">
                    <ul>
                        @for (var i = 0; i < wordList.Count; i++)
                        {
                            var word = wordList[i];
                            <li for="@i" class="J-tab @(i==0?"current":"")">@word.TypeName</li>
                        }
                    </ul>
                </div>
                <div class="tabs-content col-md-12">
                    <p class="line-left hidden-xs hidden-sm"></p>
                    <span class="tit"><i class="icon-logo"></i>为您的推荐以下内容</span>
                    <p class="line-right hidden-xs hidden-sm"></p>
                    <div class="content-wrap">
                        @for (var i = 0; i < wordList.Count; i++)
                        {
                            var wordItem = wordList[i];
                            <ul id="list_@i" class="J-ul-content" style="display:@(i==0?"block":"none")">
                                @foreach (var word in wordItem.Words)
                                {
                                    <li class="news-meta-item news-viewed">
                                        <a class="title-content" href="@Url.RouteUrl("list",new { keyword=word })" target="_blank">@word</a>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Footer{
    <div id="new-footer" class="bt-footer">
        <div id="bottom-footer" class="container">
            <div class="pull-left">
                <p>
                    <strong><a href="/">www.btcloudword.com</a></strong> Copyright © 2017 All Rights Reserved.
                </p>
            </div>
            <div class="pull-right hidden-xs">
                <p></p>
                <p>
                    <div class="btn-group dropup">
                        <a type="button" class="btn dropdown-toggle" data-toggle="dropdown">关于 | DMCA  <span class="caret"></span></a>
                        <ul class="dropdown-menu new-dropdown-menu">
                            <li><a target="_blank" href="/home/about" rel="nofollow">关 于</a></li>
                            <li><a target="_blank" href="/home/term" rel="nofollow">服务条款</a></li>
                            <li><a target="_blank" href="/home/dmca" rel="nofollow">DMCA</a></li>
                        </ul>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.grumble.min.js"></script>
    <script src="~/js/random.js"></script>
    <script>
        $('.pull-right').grumble(
            {
                text: '搜索帮助!',
                angle: 40,
                distance: 70,
                showAfter: 500,
                hideAfter: 8000,
                type: 'alt-',
            }
        );
        $(function () {
            $("#search_form").submit(function () {
                var key = $.trim($("#search").val());
                if (key.length > 0) {
                    window.location.href = $(this).attr("action") + "/" + encodeURIComponent(key);
                }
                return false;
            });
            $(".J-tab").click(function () {
                if ($(this).hasClass('current')) {
                    return;
                }
                $(this).siblings().removeClass('current').end().addClass('current');
                var index = $(this).attr("for");
                $(".J-ul-content").hide();
                $("#list_" + index).show();
            });
        });
    </script>
}
